<ion-header>
  <ion-toolbar>
    <ion-title  style="text-align: center;">Duelist</ion-title>
    <ion-back-button></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Pheonix</h1>
  <img   src="assets/pheonix.jpg" alt="">
  <p>when people discuss who is the poster boy of valorant the one character everyone goes they represent so and so game it has to be pheonix for valorant Hailing from the U.K., Phoenix's star power shines through in his fighting style, igniting the battlefield with flash and flare. Whether he's got backup or not, he'll rush into a fight on his own terms.</p>
  <h2> <strong>Duelist</strong></h2>
  <p>Pheonix is a duelist meaning he is your go to guy when you want the job done pheonix has four abilities which help him achieve his goals of dominating and charging the enemy with brute force in a of course fiery fashion </p>
  <h2> <strong>Blaze</strong></h2>
  <img   src="assets/blaze2.png" alt="">
  <p>pheonix first ability blaze  is a flame wall. that creates a line of flame that moves forward, creating a wall of fire that blocks vision and damages players passing through it. Holding Fire to bend the wall in the direction of your crosshair.

    Wall stays for about 10 seconds and deals 30 DPS to enemies, and heals Phoenix about 6 HP per second. It does about 8 DPS to teammates.</p>
    <h2> <strong>Curveball</strong></h2>
    <img   src="assets/curvebal.png" alt="">
<p>Curveball is a  flare orb that takes a curving path and detonates shortly after throwing. pressing Fire to curve the flare orb to the left, detonating and blinding any player who sees the orb. AlternateFire to curve the flare orb to the right.

  can Blinds enemies and allies for about 1 second. Enemies and allies can turn away to prevent the blinding effect.</p>
  <h2> <strong>Hothands</strong></h2>
  <img   src="assets/hothands.png" alt="">
<p>Hothands is a  throwable fireball that explodes after a set amount of time or upon hitting the ground, creating a lingering fire zone that damages enemies.

  Lasts for about 4 seconds and deals about 60 DPS to enemies, and heals Phoenix about 12 HP per second, that makes total of 50 HP. It does about 20 DPS to allies.and is  Re-use after getting 2 kills.</p>
  <h2> <strong>Run it Back</strong></h2>
  <img   src="assets/runit.png" alt="">

<p>Run it back Instantly place a marker at Phoenix's location. While this ability is active, dying or allowing the timer to expire will end this ability and bring Phoenix back to this location with full health.

  Lasts about 10 seconds.</p>
  <iframe width="320" height="150" src="https://www.youtube.com/embed/KIznkZScM10" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>





  <ion-button (click)="backtohome()">
    Go to main page</ion-button>

</ion-content>
