<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Duelist</ion-title>
    <ion-back-button></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 style="font-family:cursive">Jett</h1>
  <img   src="assets/jett.jpg" alt="">
  <p>Jett another character deemed worthy of posterboy for valorant its unique playstyle and swagger attracts many</p>
  <h2><strong>Duelist</strong></h2>
  <p>Jett is a duelist which is meant to enter the sight at the speed of sound dashing through the sky and rushing the enemy off guard jetts unique kit and high skill ceiling is very rewarding but hard to grasp</p>
  <h2> <strong>Downpour</strong></h2>
  <img   src="assets/downpour.png" alt="">
  <p>downpour allows you to Instantly throw a projectile that expands into a brief vision-blocking cloud on impact with a surface. Holding the ability key to curve the smoke in the direction of your crosshair.

    Stays for 4.5 seconds. Makes a little noise when inside. Multiple clouds increase the volume of the clouds.</p>
    <h2> <strong>Updraft</strong></h2>
    <img   src="assets/updraft.png" alt="">
<p>Updraft Instantly propel Jett high into the air.

  Can be combined with the Tailwind.</p>
  <h2> <strong>Downwind</strong></h2>
  <img   src="assets/downwind.png" alt="">
  <p>Tailwind Instantly propel Jett in the direction she is moving. If Jett is standing still, she will propel forward.

    Can be combined with the Updraft.</p>
    <h2> <strong>BladeStorm</strong></h2>
    <img   src="assets/bladestorm.png" alt="">
    <p>Blade storm Equips a set of highly accurate throwing knives that recharge on killing an opponent.Pressing Fire to throw a single knife at your target. AlternateFire to throw all remaining daggers at your target.

      Headshot does 150 damage, body, and leg shot—50 damage for any distance. Does not penetrate walls.</p>
      <iframe width="320" height="150" src="https://www.youtube.com/embed/LT8cX3_cw0U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <ion-button style="text-align: center;" (click)="backtohome()">
    Go to main page</ion-button>
</ion-content>
