<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Phantom</ion-title>
    
    <ion-back-button></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <img   src="assets/phantom.png" alt="">
 
<p> The Phantom is a high-cost automatic rifle. One of VALORANT's best general-purpose weapons, it is most effective at short to medium range where it is able to spray down multiple enemies at once due to its high rate of fire. It also comes equipped with a silencer, allowing it to be used to spam through vision blockers without much risk to the player's ammo count or positioning.

  The Phantom is able to instantly kill an enemy with a single headshot, but its damage falloff means this no longer becomes the case at medium to long ranges. Players hitting the initial headshot but failing to hit a second killing shot before they die themselves may find the Vandal preferable in such situations.</p>
  <h1 style="font-family: fantasy;">Oni phantom</h1>
  
  <ion-slides  pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="assets/oniphantom.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/blackoni.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/redoni.jpg" alt="">
    </ion-slide>
  </ion-slides>




  <iframe width="320
  " height="150
  "  src="https://www.youtube.com/embed/Y19F6Golayg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <h1 style="font-family: fantasy;">GlitchPop Phantom</h1>
  <ion-slides 
  
  pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="assets/rgxbase.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/redrgx.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/blackrgx.jpg" alt="">
    </ion-slide>
  </ion-slides>
<p>The Glitch Pop phantom comes in at second with is glitch effort colorway it is unique for its very colorful and flashy colorway </p>
<iframe width="320" height="150" src="https://www.youtube.com/embed/tcXsQnhwlCo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h1 style="font-family: fantasy;">Prime 2.0 Phantom</h1>
<ion-slides margin="20

  " pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="assets/primephan.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/greenprime.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/brownprime.jpg" alt="">
    </ion-slide>
  </ion-slides>
  <p>the prime 2.0 set has the prime phantom which  is the second make of the original prime 1.0 set that features the prime vandal which is said to be the best vandal skin in the game unfortunately the prime phantom doesn't come close to the prime vandal in terms of features and feel</p>
  <iframe width="320" height="150" src="https://www.youtube.com/embed/WD2WU-c-2cE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<ion-button style="text-align: center;" (click)="backtohome()">
  Go to main page</ion-button>

</ion-content>
