<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">sheriff</ion-title>
    <ion-back-button></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img   src="assets/sheriff.png" alt="">
  <p>The Sheriff is a semi-automatic revolver and the most expensive sidearm in the game. Able to kill enemies with a single bullet to the head at most ranges and health totals, it can be used to challenge even enemies who have full-bought. It's high penetration and extra reserve magazine also makes it useful for spamming for wallbangs during pistol or eco rounds. With a low-capacity magazine and low fire rate however, even one missed shot can end up being punishing. The Sheriff's high recoil also promotes exceptional control and precision in order to use it when fighting multiple enemies.</p>
  <h1 style="font-family: fantasy;">Reaver Sheriff</h1>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="assets/reaver.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/reaverb.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/reaverw.jpg" alt="">
    </ion-slide>
  </ion-slides>
  <p>The reaver sheriff is just magnificent like its vandal counterpart it has that crisp reload and vfx animation along side the fact it is has a clean finisher adding to the list of reasons why its the best skin for the sheriff</p>
  <iframe width="320" height="150" src="https://www.youtube.com/embed/wVMEiVig3e8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h1 style="font-family: fantasy;">Arcane Sheriff</h1>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="assets/arcane.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/arcane2.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/arcane3.jpg" alt="">
     
    </ion-slide>
  </ion-slides>
  <p>the arcane sheriff is one of a kind a limited rare gun that came out due to riots first ever cinematic series Arcane the gun is based from the character jinx which stars in the show arcane and the game league of legend its weird and wacky design really shows the aspects of the character and its unique holding style shows its one of a kind</p>
  <iframe width="320" height="150" src="https://www.youtube.com/embed/J2inQh7hm58" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h1 style="font-family: fantasy;">Sentinels of Light Sheriff</h1>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="assets/ssheriff.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/ssheriffb.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/ssheriffp.jpg" alt="">
     
    </ion-slide>
  </ion-slides>
  <p>the sentinels of light has a mystical feel with a crystalline structure its design is sure to make you play much better</p>
  <iframe width="320" height="150" src="https://www.youtube.com/embed/XcWfCy3Umjw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
  
  
  
  
  
  
  
  
  
  
  
  <ion-button (click)="backtohome()">
    Go to main page</ion-button>
</ion-content>
