<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Vandal</ion-title>
    <ion-back-button></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img   src="assets/vandal.png" alt="">
  <p>The Vandal is a high-cost automatic rifle. One of VALORANT's best general-purpose weapons, it is most effective at picking off individual targets at longer ranges due to having no falloff, allowing it to kill any enemy with a single headshot at all ranges.

    Compared to VALORANT's other general-purpose rifle, the Phantom, the Vandal is guarenteed to instantly kill an enemy with one bullet to the head whereas the Phantom's damage falloff results in it requiring multiple bullets at medium to long range to get headshot kills. However, the Phantom's higher fire rate and accuracy make it better at taking on multiple enemies at short to medium ranges over the Vandal.</p>
  <h1 style="font-family: fantasy;">Prime Vandal</h1>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="assets/primevandal.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/orangeprime.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/bluevariant.jpg" alt="">
    </ion-slide>
  </ion-slides>
<p>The prime vandal is what a lot of people would call the best skin in the game it is one of the first skins brought out with special effects and variants its crisp sounding noise and reloading sounds are thought to make a person play better</p>

<iframe width="320" height="150" src="https://www.youtube.com/embed/60ivp5eG1pM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 
<h1 style="font-family: fantasy;">Sentinels Of Light</h1>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="assets/sentinels.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/spurple.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img   src="assets/slightpurple.jpg" alt="">
    </ion-slide>
  </ion-slides>
  <p>The sentinels of light is based from the riot games other popular game league of legends where they had an in game event and this weapon was displayed and later made available in valorant it has grown in terms of popularity due to both games being linked and the overall smoothness of the gun close to the prime vandal</p>
<iframe width="320" height="150" src="https://www.youtube.com/embed/FarAR9q9QSs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h1 style="font-family: fantasy;">ElderFlame</h1>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="assets/elderflame.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/blackelder.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img   src="assets/blueelder.jpg" alt="">
    </ion-slide>
  </ion-slides>
  <p>The design of the elderflame are elaborate with unique VFX and animations, including the dragon coming to life and snatching the magazine away from you</p>
  <iframe width="320" height="150" src="https://www.youtube.com/embed/aopp0L1oE_U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<ion-button (click)="backtohome()">
  Go to main page</ion-button>
</ion-content>
