<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Controller</ion-title>
    <ion-back-button></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1 style="font-family:'Times New Roman', Times, serif">Brimstone</h1>
  <img   src="assets/brimstone.jpg" alt="">
  <p>Brimstone the dad character of valorant he is what a lot of people would consider a simple character not to hard but still gets the job done good for people for just want to shoot which is funny because he comes from america around youd dont have to worry too much about ability management </p>
  <h2> <strong>Controller</strong></h2>
  <p>Brims stone is a controller with a tactical map allows casting Orbital Strike and 3 smokes behind walls. Combined with deadly Incendiary grenade, made him an often pick for professional players. He is excellent agent to protect or take a Spike Site.</p>
  <h2> <strong>Stim Beacon</strong></h2>
  <img   src="assets/stim.png" alt="">
  <p>Stim beacon Equips a stim beacon.Pressing Fire to toss the stim beacon in front of Brimstone. Upon landing, the stim beacon will create a field that grants players RapidFire.

    Beacon stays active for 12 seconds. Still provides boost for 4 seconds, even after player leaves the aura. Beacon is visible to enemies, aura is not. Cooldown for next beacon is about 13 seconds.</p>
    <h2> <strong>Incendiary</strong></h2>
    <img   src="assets/fire.png" alt="">
    <p>Incendiary Equips an incendiary grenade launcher.Pressing Fire to launch a grenade that detonates as it comes to a rest on the floor, creating a lingering fire zone that damages players within the zone.

      Always bounces 1 time. Burns for 8 seconds. Deals about 60 DPS for enemies, and 20 DPS for allies. If shot at the sky, it lands after 7 seconds.</p>
      <h2> <strong>Sky Smoke</strong></h2>
      <img   src="assets/smoke.png" alt="">
  <p>Sky smoke equips  a tactical map.pressing Fire to set locations where Brimstone's smoke clouds will land. AlternateFire to confirm, launching long-lasting smoke clouds that block vision in the selected area.

    Stays for 19.25 seconds.</p>
    <h2> <strong>Orbital Strike</strong></h2>
    <img   src="assets/orbital.png" alt="">
  <p>Orbital strike equips a tactical map. Pressing Fire to launch a lingering orbital strike laser at the selected location, dealing high damage-over-time to players caught in the selected area.

    Lasts about 4 seconds. Deals about 110 DPS for enemies, and about 38 DPS for teammates. Escape time before burning starts—about 1.75 seconds.</p>
    <iframe width="320" height="150" src="https://www.youtube.com/embed/sImQXod08Ts" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <ion-button (click)="backtohome()">
    Go to main page</ion-button>
</ion-content>
