<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Haven</ion-title>
    <ion-back-button></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img   src="assets/haven.jpg" alt="">
  <p>Beneath a forgotten monastery, a clamour emerges from rival Agents clashing to control three sites. There’s more territory to control, but defenders can use the extra real estate for aggressive pushes</p>
  <h2> <strong>Map features</strong></h2>
  <img   src="assets/haven2.png" alt="">
  <p>Haven's unique feature is that it has an additional third spike site. This does not affect the number of ultimate orbs on the map; Haven's two ultimate orbs are present in A Long and C Long It allows attackers to attack site three different sites leading to a lot of different opportunities and playstyles</p>
  <h2> <strong>Call outs</strong></h2>
  <img   src="assets/havenmap.png" alt="">
  <ion-slides margin="20

  " pager="true" [options]="slideOpts">
    <ion-slide>
      <ul >
        <li>A site</li>
        <li>B site</li>
        <li>Back</li>
        <li>C site</li>
        <li>Courtyard</li>
        <li>Spawn</li>
        <li>Tower</li>
      </ul>
    </ion-slide>
    <ion-slide>
      <ul >
        <li>Cubby</li>
        <li>Hay Bales</li>
        <li>Garage</li>
        <li>Garden</li>
        <li>Link</li>
        <li>Window C</li>
      </ul>
    </ion-slide>
    <ion-slide><ul>
      <li>Lobby</li>
      <li>Long</li>
      <li>Sewer</li>
      <li>Short</li>
      <li>site</li>
      <li>Window Mid</li>
      </ul>
    </ion-slide>
  </ion-slides>
  
  
  
  
  
  
  
  
  <ion-button (click)="backtohome()">
    Go to main page</ion-button>
</ion-content>
