<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">split</ion-title>
    <ion-back-button></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img   src="assets/split.jpg" alt="">
<p>If you want to go far, you’ll have to go up. A pair of sites split by an elevated center allows for rapid movement using two rope ascenders. Each site is built with a looming tower vital for control. Remember to watch above before it all blows sky-high.</p>
<h2> <strong>Map features</strong></h2>
<img   src="assets/split2.jpg" alt="">
<p>Split was the first map to use ascenders. There are three sets on the map:

  Two that allow players to get up from Sewer to A Lobby
  One that allows players to get up from B Hell to B Tower
  Four that allow players to navigate through Vents with these unique ropes allow attackers and defenders to navigate the map in many different ways</p>
  <h2> <strong>Call outs</strong></h2>
  <img   src="assets/splitmap.png" alt="">
  <ion-slides margin="20

  " pager="true" [options]="slideOpts">
    <ion-slide>
      <ul >
        <li>A site</li>
        <li>Alley</li>
        <li>B site</li>
        <li>Back</li>
        <li>Bottom</li>
        <li>Garage</li>
      </ul>
    </ion-slide>
    <ion-slide>
      <ul >
        <li>Link</li>
        <li>Lobby</li>
        <li>Mail</li>
        <li>Main</li>
        <li>Rafters</li>
        <li>Ramps</li>
        <li>Screens</li>
      </ul>
    </ion-slide>
    <ion-slide><ul>
      <li>Sewer</li>
      <li>Site</li>
      <li>Spawn</li>
      <li>Stairs</li>
      <li>Top</li>
      <li>Tower</li>
      <li>Vent</li></ul>
    </ion-slide>
  </ion-slides>
  










  <ion-button (click)="backtohome()">
    Go to main page</ion-button>
</ion-content>
