<ion-header  [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Valorant Wiki 
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <h1>Valorant Weapons</h1>
  <ul>
  
<li  [routerLink]="['/vandal-skins']"routerDirection="Forward" >Vandal</li>
<li [routerLink]="['/phantom']"routerDirection="Forward" >Phantom</li>
<li [routerLink]="['/ghost']"routerDirection="Forward" >Ghost</li>
<li [routerLink]="['/sheriff']"routerDirection="Forward" >Sheriff</li>
</ul>


 <h1>Valorant Agents</h1>
<ul>
 
<li [routerLink]="['/pheonix']"routerDirection="Forward">Pheonix</li>
<li  [routerLink]="['/jett']"routerDirection="Forward">Jett</li>
<li [routerLink]="['/brimstone']"routerDirection="Forward">Brimstone</li>
</ul>

<h1>Valorant Maps</h1>
<ul>
<li [routerLink]="['/bind']"routerDirection="Forward">Bind</li>
<li [routerLink]="['/haven']"routerDirection="Forward">Haven</li>
<li [routerLink]="['/split']"routerDirection="Forward">Split</li>
</ul>
<h1>Your Favourite Agent</h1>
<ul>
  <li [routerLink]="['/favagent']"routerDirection="Forward">Agent Select</li>
{{yourAgents}}<P>was your favourite agent</P>

</ul>
<h1>Valorant Version</h1>
<ul>
  <li [routerLink]="['/version']"routerDirection="Forward">version</li>

</ul>

</ion-content>

