<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">ghost</ion-title>
    <ion-back-button></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img   src="assets/ghost.png" alt="">
  <p>The Ghost is a low-cost semi-automatic pistol. Equipped with a large magazine and a silencer, it can be used to spam through vision blockers without much risk to the player's ammo count or positioning.

    Whilst proficient at all ranges, it is especially good for picking off long-range enemies, though at shorter ranges it does not offer much more power than a Classic outside of pistol rounds. Compared to the costlier Sheriff, the Ghost is less powerful in pistol rounds but isn't too far behind in power when used against fully-shielded enemies unless you can hit your headshots. The Ghost's higher fire rate and magazine capacity also make it more forgiving if the player misses some of their shots.</p>
  <h1 style="font-family: fantasy;">Soverign Ghost</h1>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="assets/sghost.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/bghost.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img   src="assets/pghost.jpg" alt="">
    </ion-slide>
  </ion-slides>
  <p>The Valorant Sovereign Ghost has an elegant, ethereal feel to it with a simple but regal white and gold design.</p>
  <iframe width="320" height="150" src="https://www.youtube.com/embed/5Bvb5MohvNo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
  <h1 style="font-family: fantasy;">Ruination Ghost</h1>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="assets/ruin.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/ruinp.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img   src="assets/ruing.jpg" alt="">
    </ion-slide>
  </ion-slides>
<p>the ruination ghost is linked with riots popular game league of legends they colorway is of a more dark and corrupt different to due to it being heavily influenced by that character viego from league of legends a king who would put the world in ruin for his lover</p>
<iframe width="320" height="150" src="https://www.youtube.com/embed/fSFf7GO0KXM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h1 style="font-family: fantasy;">Gaia's Vengence Ghost</h1>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="assets/gaia.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/gaiab.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img   src="assets/gaiag.jpg" alt="">
    </ion-slide>
  </ion-slides>
  <p>the gaia's vengence have an earthy, organic feel to them, with what appear to be branches growing out and through the guns in smooth, flowing twists and turns</p>
  <iframe width="320" height="150" src="https://www.youtube.com/embed/OYpks-531Mc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <ion-button (click)="backtohome()">
  Go to main page</ion-button>
</ion-content>
